apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: twisterlab-dev
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16-alpine
        env:
        - name: POSTGRES_USER
          value: twisterlab
        - name: POSTGRES_PASSWORD
          value: demo_password
        - name: POSTGRES_DB
          value: twisterlab
        ports:
        - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: twisterlab-dev
spec:
  ports:
  - port: 5432
  selector:
    app: postgres
